@media (max-width: 767px) {
    .custom-card {
        width: 100%;
    }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ensure the body covers the full viewport height */
  margin: 0; /* Remove default body margin */
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.error-icon {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.custom-card {
    width: 40%;
    aspect-ratio: 1/1;
}
@media (max-width: 767px) {
    .custom-card {
        width: 100%;
    }
}

.submit-btn {
    width: 100%;
    margin-top: 40px;
    background-color: #6610f2;
}

.icon {
    cursor: pointer;
    position: relative;
    color: gray;
}

.icon[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    background-color: rgb(52, 51, 51);
    color: white;
    padding: 8px;
    border-radius: 5px;
    white-space: normal;
    z-index: 10;
    opacity: 0.9;
    font-size: 14px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    line-height: 1.5;
    width: 150px;
    font-family: sans-serif;
}
.fa-exclamation {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1;
    opacity: 0.9;
}

.fa-exclamation.visible {
    display: block;
}

.input-container {
    display: flex;
}

.fa-exclamation {
    margin-left: 20px;
}
.input-group-text {
    background-color: white;
    border-left: 0;
}